.checking {
  background-color: red;
  width: fit-content;
  min-height: 100vh;
}












:root {
  --clr-primary: #1c2430;
  --clr-blue: #1180e2;
  --clr-gray: #8b8b8b;
  --clr-light-gray-100: rgba(228, 228, 230);
  --clr-light-gray-200: rgba(247, 248, 250);
  --clr-lightBlue: #4a90e2;
  --clr-purple: #9b59b6;
  --clr-yellow: #f1c40f;
  --clr-red: #e91e63;
  --clr-green: #2ecc71;
  --clr-white: #ffff;

  --color-sidebar-bg: rgba(46, 50, 80, 1);

  /* Font-Colors */
  --fs-clr-black: var(--clr-primary);
  --fs-clr-white: var(--clr-white);
  --fs-clr-blue: var(--clr-blue);
  --fs-clr-gray: var(--clr-gray);
}

.flow > *:not(:first-child) {
  margin-top: var(--flow-spacer, 3em);
}

.random {
  border: 2px solid red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  /* font-family: "Poppins", sans-serif; */
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--fs-clr-black);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general Styling */
[data-role="main-content"] > div > * {
  padding-inline: 16px;

  @media (max-width: 50em) {
    padding-inline: 4px;
  }
}

/* SideBar */
.sidebar,
.sidebar [data-role="head"],
.sidebar .nav-link {
  font-size: 14px;
  /* color: var(--fs-clr-primary) !important; */
  background-color: var(--color-sidebar-bg);

  & .nav-link i {
    font-size: 17px;
  }

  & .logo {
    width: 60px;
  }
}

/* primary header */
#primary-header nav {
  background-color: var(--clr-light-gray-200);
}

#primary-header input[type="search"] {
  background-color: var(--clr-light-gray-100);
}

#primary-header input[type="search"]::placeholder {
  color: var(--fs-clr-gray);
  font-weight: 450;
  opacity: 1;
}

#primary-header ul li {
  border: 2px solid #cfd1d2;
  background-color: var(--clr-light-gray-100);
  border-radius: 5px;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Profile Information */
#personal-Information {
  background-color: white;
  border: 1px solid #cfd1d2;

  & img {
    width: 100%;
    height: auto;
  }

  & [data-user="belongings"] {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  & [data-user="belongings"] button {
    font-weight: 500;
    background-color: rgba(232, 242, 253, 1);
  }

  & .upload-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3%;
    right: 3%;
    cursor: pointer;
  }

  & [data-role="tags"] {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
  }


}

#personal-Information .accordion-body {
  
}

#personal-Information .accordion-button,
#personal-Information .accordion-body {
  background-color: transparent;
  border: none;
  outline: none;

  & button {
    font-weight: 550;
    background-color: var(--clr-light-gray-100);
  }
}

#personal-Information .accordion-button {
  @media (max-width: 30em) {
    padding-top: 2px;
  }
}

#personal-Information .accordion-body .nav-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  padding-block: 5px;
  border-bottom: 2px solid var(--clr-light-gray-200);
  grid-gap: 5px;

  &:hover {
    cursor: pointer;
    background-color: var(--clr-light-gray-200);
  }
}

/* navigation-tabs */
#navigation-tabs {
  border: 1px solid #cfd1d2;
  border-left: none;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  & nav {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  & .nav-link {
    color: var(--fs-clr-black);
  }

  & .nav-link:hover,
  & [data-link="active"] {
    border-bottom: 2px solid #0d6efd;
    color: var(--clr-blue);
  }
}

/* dashboard stats */
#dashboard-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;

  @media (max-width: 40em) {
    gap: 0.5rem;
  }

  & .cus-card {
    background: linear-gradient(var(--bg-color));
    position: relative;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  & .card .footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--fs-clr-gray);
  }

  & .card-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card span {
  font-size: 14px;
  color: var(--fs-clr-gray);
}

/* Table Section */
#table-container {
  & thead {
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 1);
    font-weight: 500;
  }

  & [data-role="checkbox"] {
    color: rgba(216, 216, 216, 1);
  }

  & .wrapper {
    z-index: 999;
    border-radius: 10px;
    border: 1px solid #cfd1d2;
  }

  & .wrapper > div:first-child {
    background-color: rgba(234, 238, 241, 1);
    border-radius: 10px;
    border: 1px solid #cfd1d2;
  }
}

.table td,
.table th {
  vertical-align: middle;
  padding-block: 18px;

  @media (max-width: 40em) {
    padding-block: 10px;
  }
}
