:root {
  --clr-primary: #1c2430;
  --clr-secondary: #007bff;
  --clr-tertiary: #0d6efd;
  --clr-gray: #8b8b8b;
  --clr-lightBlue: #4a90e2;
  --clr-purple: #9b59b6;
  --clr-yellow: #f1c40f;
  --clr-red: #e91e63;
  --clr-green: #2ecc71;
  --clr-black: #212529;

  --color-sidebar-bg: rgba(46, 50, 80, 1);
  --color-tag-bg: var(--clr-1);
  /* --color-metric-blue: #4a90e2; */
  /* --color-metric-purple: #9b59b6; */
  /* --color-metric-yellow: #f1c40f; */
  /* --color-metric-pink: #e91e63; */
  /* --color-metric-green: #2ecc71; */

  /* Font-Colors */
  --fs-clr-primary: var(--clr-gray);
  --fs-clr-secondary: var(--clr-black);
  --fs-clr-tertiary: var(--clr-secondary);
}

.border {
  border: 2px solid red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  /* font-family: "Poppins", sans-serif; */
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* SideBar */
.sidebar,
.sidebar [data-role="head"],
.sidebar .nav-link {
  font-size: 14px;
  color: var(--fs-clr-primary) !important;
  background-color: var(--color-sidebar-bg);

  & .nav-link i {
    font-size: 17px;
  }

  & .logo {
    width: 60px;
  }
}
